<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="/men/shoes/mencasualshoes"> <img  id="casualshoes" src="https://previews.123rf.com/images/olgaarkhipenko/olgaarkhipenko1908/olgaarkhipenko190800071/128392949-close-up-yellow-men-s-work-boots-from-natural-nubuck-leather-on-wooden-white-background-trendy-casua.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        <div class="card"  style="height: 50%; width: 50%;"  >
             <a routerLink="/men/shoes/menformalshoes">  <img  id="formalshoes" src="https://www.dhresource.com/0x0/f2/albu/g6/M00/3C/7F/rBVaSFrYIMaALWotAAHLvRp_V_4602.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="formalshoesp">Formal Shoes</p>
               
            </a>
            </div>
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="/men/shoes/mensportsshoes">   <img  id="sportsshoes" src="https://img.looksgud.com/upload/item-image/2280/1cw0l/1cw0l-ads-orange-mesh-light-weight-comfortable-sports-shoes_300x300_0.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>
<br><br>
<div class="container" id="casualcards">
    <div class="card-deck">
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top"style=" padding-top: 15px; " src="https://cdn.shopify.com/s/files/1/2578/0910/products/OSCO-Men-Dress-Shoes-Men-Formal-Shoes-Leather-Luxury-Fashion-Wedding-Shoes-Men-Business-Casual-Oxford_800x.jpg?v=1571763955" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">TAN FORMAL</p>
</a>
	
             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,799
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,684</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

 <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://5.imimg.com/data5/AR/GN/MY-9601565/men-formal-shoe-500x500.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Provogue</p>
</a>
	
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,546</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRbSWgYNI43SGjWkS-c_vvgjweYzotjp7Y_BIn6IIFjbyVJTqIB&usqp=CAU" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Red Tape</p>
</a>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,999 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,788</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://imgaz1.staticbg.com/thumb/large/oaupload/banggood/images/12/78/919be3db-4622-46d4-b538-9b69e42fca42.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Bang Up</p>
</a>
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,088</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0610/1233/products/25_71b38a81-90b3-490e-ad91-58f102e2eb8a_800x.png?v=1480887474" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LUXURY </p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">164</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
			<option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0055/5745/2918/products/Misalwa-2017-Summer-Men-Hollow-Out-Men-Formal-Shoes-Men-Microfiber-Leather-Quality-Shoes-Breathable-Men_97f0d969-408c-4132-b839-29508175c649_800x.jpg?v=1571738480" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Hollow Out Formal</p>
</a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">4,164</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
			<option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html"> <img class="card-img-top" style=" padding-top: 15px;" src="https://rukminim1.flixcart.com/image/714/857/jiw10280/shoe/s/v/k/ks-118-blk-7-buwch-brown-original-imaffu5vuhpm5qbv.jpeg?q=50
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Clarks Formal</p>
</a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,999 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,078</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
			<option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://5.imimg.com/data5/HN/AG/MY-61720592/mens-formal-shoes-500x500.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Hush Pupppies</p>
</a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 8,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,864</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
			<option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            
            </div>
        </div>

<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9dXQ2vfZw5SmEEpZk4pH5pMjtac_GGI_00hDMKpPdTMBNiJE4&usqp=CAU
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Jordan Formal</p>
</a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 6,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,716</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
			<option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>
