<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="/women/wshoes/womencasualshoe"> <img  id="casualshoes" src="https://ae01.alicdn.com/kf/HTB156CcJpXXXXcNXFXXq6xXFXXXT/Women-Platform-Shoes-Lace-Up-Black-Creepers-Pu-Leather-Harajuku-Shoes-Cheap-Women-Falt-Shoes-Moccasins.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="/women/wshoes/womensportsshoe">   <img  id="sportsshoes" src="https://i.pinimg.com/474x/dc/1c/79/dc1c79ce03ca6579b1cf02b52593becc.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>
<br><br>

<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://cdn.shopify.com/s/files/1/2955/8090/products/women-casual-shoes-spring-and-summer-ladies-lace-up-canvas-shoes-female-breathable-light-sneakers-womens-vulcanize-shoes-moshu-official-store-black-45_700x700.jpg?v=1570034750" 
                height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">AERO</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


 
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.dhresource.com/0x0/f2/albu/g5/M00/50/48/rBVaJFl1kBSAesJLAADzz-pW-0o997.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ASICS</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,684</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img1.cfcdn.club/43/ff/43e8750a994a9a6aec25b608b88c0eff_350x350.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">CONVERSE</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,599 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://id-test-11.slatic.net/p/2/flat-shoes-remaja-gadis-sekolah-menengah-sepatu-baru-sepatu-musim-gugur-(biru-tua-warna)-1234-19613195-cd517df3c8e205171537097193c36890.jpg_340x340q80.jpg_.webp
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">CLARKS</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,784</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/1509/8876/products/Fooraabo-2017-Summer-Women-Casual-Shoes-Female-Platform-Shoes-Slipony-Women-Krasovki-Tenis-Feminino-Ladies-Shoes_grande.jpg?v=1571440196" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">GAS</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,899  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,378</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://i.pinimg.com/originals/e1/3c/e8/e13ce8c0004d16ca35ccd37e279333c2.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FILA</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,000  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,174</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cf.shopee.co.id/file/de1ab7422f5d2b2bdebbd57f9123e95c
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">REEBOK</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,654</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1sLYwaEvrK1RjSszfq6xJNVXa9/Fashion-Sneakers-Women-Casual-Shoes-Tenis-Feminino-Spring-Autumn-Basket-Femme-Rubber-Flats-Ladies-Shoe-Zapatillas.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">RED TAPE</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,098</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1JpfeNFXXXXaDXXXXq6xXFXXXl/Fashion-Women-Shoes-Women-Casual-Shoes-Comfortable-Damping-Eva-Soles-Platform-Shoes-For-All-Season-Hot.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LANCER</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">976</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>