<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="/men/shoes/mencasualshoes"> <img  id="casualshoes" src="https://previews.123rf.com/images/olgaarkhipenko/olgaarkhipenko1908/olgaarkhipenko190800071/128392949-close-up-yellow-men-s-work-boots-from-natural-nubuck-leather-on-wooden-white-background-trendy-casua.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        <div class="card"  style="height: 50%; width: 50%;"  >
             <a routerLink="/men/shoes/menformalshoes">  <img  id="formalshoes" src="https://www.dhresource.com/0x0/f2/albu/g6/M00/3C/7F/rBVaSFrYIMaALWotAAHLvRp_V_4602.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="formalshoesp">Formal Shoes</p>
               
            </a>
            </div>
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="/men/shoes/mensportsshoes">   <img  id="sportsshoes" src="https://img.looksgud.com/upload/item-image/2280/1cw0l/1cw0l-ads-orange-mesh-light-weight-comfortable-sports-shoes_300x300_0.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>
<br>
<div class="container" id="sportscards">
    <div class="card-deck">

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top"style=" padding-top: 15px; " src="https://imgaz1.chiccdn.com/thumb/large/oaupload/newchic/images/71/92/c7bebb6c-ebdb-45a1-acfa-f0986dacaae3.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Asics</p>
</a>
  
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,682</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://img1.cfcdn.club/fc/d0/fcc70398e894af8e1d892fb79164ebd0_350x350.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Onvers</p>
</a>
          <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,799  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,472</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
  
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://sneakersrock.com/wp-content/uploads/2017/10/781980356-1.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Jordan</p>
</a>
          
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 9,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://www.bestmassmarkets.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/e/new-casual-shoes-men-comfortable-summer-sneakers-men-2019-breathable-mesh-sport-lace-up-light-fashion.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Vans Sport</p>
</a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">4,678</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2019/07/17/54/163367156_15633554722_large.png" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Converse</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,899  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,876</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">     <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/71Yivo1pI%2BL._UL1500_.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">New Balance</p>
            </a>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,564</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://image.made-in-china.com/202f0j00GwKtWlHdARgm/High-Quality-Stylish-Breathable-Durable-Men-Running-Shoes-for-Sport.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">HRX</p>
            </a>
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,799  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,871</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                       
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB12L0oXRCw3KVjSZFlq6AJkFXae/Men-s-Work-Safety-Shoes-Steel-Toe-Cap-Shoes-Fashion-Sneakers-Breathable-Work-Safety-Boots-Anti.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Alice SPORT</p>
            </a>

            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,167</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
	<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">     <img class="card-img-top" style=" padding-top: 15px;" src="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2019/07/17/54/163367156_15633554721_large.png
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LOTTO</p>
            </a>
	
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 8,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">6,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
    </div>
</div>