<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="mencasualshoes"> <img  id="casualshoes" src="https://previews.123rf.com/images/olgaarkhipenko/olgaarkhipenko1908/olgaarkhipenko190800071/128392949-close-up-yellow-men-s-work-boots-from-natural-nubuck-leather-on-wooden-white-background-trendy-casua.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoes">Casual Shoes</p>
            </a>
            </div>
           
        <div class="card"  style="height: 50%; width: 50%;"  >
             <a routerLink="menformalshoes">  <img  id="formalshoes" src="https://www.dhresource.com/0x0/f2/albu/g6/M00/3C/7F/rBVaSFrYIMaALWotAAHLvRp_V_4602.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="formalshoes">Formal Shoes</p>
               
            </a>
            </div>
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="mensportsshoes">   <img  id="sportsshoes" src="https://img.looksgud.com/upload/item-image/2280/1cw0l/1cw0l-ads-orange-mesh-light-weight-comfortable-sports-shoes_300x300_0.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoes">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>