<div class="container" id="casualcards">
    <div class="card-deck">

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " src="https://www.jcrew.com/s7-img-facade/AO124_EB5808?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&crop=0,0,0,0&wid=480&hei=480" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ELITE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">982</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/61trbr%2B4lyL._AC_UL1005_.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">TRASE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">82</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://ak1.ostkcdn.com/images/products/is/images/direct/e2596b662599bcbea251889e108decf92459810e/Women-Open-Toe-Cross-Strap-Mid-Block-Heel-Sandals.jpg?imwidth=400&impolicy=medium" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">KRAFTER</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,299  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">876</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://ak1.ostkcdn.com/images/products/13776156/Journee-Collection-Womens-Tanzi-Bow-Pointed-Toe-Dorsay-Pumps-9dd07168-d9ae-455b-9da5-0025232e94e5_1000.jpg?imwidth=400&impolicy=medium
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">MID SOLE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://www.tukshoes.co.uk/images/vintage-lingerie-print-bombshell-heels-p17275-5968_zoom.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">BATA</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,482</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/2170/8465/products/STEVEMADDEN-DRESS_VALA_BLACK-PATENT_large.jpg?v=1571609476" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">DENILL</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://deichmann.scene7.com/asset/deichmann/US_02_133085_01?$rr_results$&defaultImage=default_obs
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FASHIMO</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://clarks.scene7.com/is/image/Pangaea2Build/26137211_W_1?wid=824&hei=824&fmt=jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Corp</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">82</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/2170/8465/products/STEVEMADDEN-DRESS_VALA_MULTI-SNAKE_large.jpg?v=1571609498
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">KLAUR</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,799  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
        </div>
    </div>
</div>