<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">   
                 <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://ae01.alicdn.com/kf/HTB13BqAdlUSMeJjy1zdq6yR3FXa5/Yorkzaler-Spring-Autumn-Kids-Shoes-2017-Fashion-Mesh-Casual-Children-Sneakers-For-Boy-Girl-Toddler-Baby.jpg" 
                 height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">LANCER</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,182</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                        
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1VMojRVXXXXaHXpXXq6xXFXXXS/2020-Canvas-Children-Shoes-Sport-Breathable-Boys-Sneakers-Brand-Kids-Shoes-for-Girls-Jeans-Denim-Casual.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FASHION SHOES</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">684</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://4.imimg.com/data4/OY/BP/MY-14042359/0-500x500.png" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ESSENSE</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.chrisjacksonjacko.com/wp-content/uploads/2019/05/Kids-shoes-for-girl-children-canvas-shoes-boys-sneakers-2019-Spring-autumn-girls-shoes-White-High-6-640x640.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">HOT-X</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">784</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://www.dhresource.com/600x600/f2/albu/g7/M00/7A/04/rBVaSlvqgfOAPUw2AAOL_g12S5A626.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">NEO BABY</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">378</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.pimaricin.es/images/pimaricines/267-kids-kids-shoes-boots-5577.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">SKYMATE</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 799  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">184</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/61EiPuuRcKL._UY395_.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LIBERTY</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">54</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0039/9704/0709/products/product-image-438104804_800x.jpg?v=1538104926" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LEVOT</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,094</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0039/9704/0709/products/product-image-518174722_800x.jpg?v=1538104880" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">NODY</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">976</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                         <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>