<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://image.made-in-china.com/2f0j00ZUCReHVyLLod/China-Kids-Sandals-EVA-Beach-Shoe-Rubber-Baby-Slippers.jpg" 
                height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">FOOT FUN</p>   
            </a>
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">482</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                        
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


 
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://4.imimg.com/data4/LV/OD/MY-31345624/tfc69_blue_26-33-500x500.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">PARAGON</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">84</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://contents.mediadecathlon.com/p1760838/k$ec6679ff615ebf0d16d3d5be0839db3f/kids-sandals-mh100-blue-grey-yellow.jpg?&f=800x800" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FAUSTO</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://static.babycouture.in/pub/media/catalog/product/cache/0b315228ed332efca91f606c91ba025b/b/a/baby-sandal.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Refoam</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 899 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">884</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://www.pinkblueindia.com/pub/media/catalog/product/cache/cf3f2243ef4940fd5c66f2ff035145ac/f/a/fashionable-baby-boy-shoes1.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Clymb</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">378</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-2A-8D-rBVaWVwpzWuAaIDjAAI3Y1kust0198.jpg/precio-de-f-brica-para-ni-os-ni-os-zapatillas.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">CHIU</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,184</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://leoandbella.com.au/wp-content/uploads/2018/08/mosesman-blu_2_3.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Picktoes</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,654</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img1.cfcdn.club/86/a0/86183d36e145d34ee7e5b025b96dbfa0_350x350.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">TINY</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,094</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.sandalsmanufacturers.com/wp-content/uploads/2019/05/Cute-bear-kids-slippers-1-730x730.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">VKC</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,976</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >3 UK</option>
                        <option >4 UK</option>
                        <option >5 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>