<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="/women/wshoes/womencasualshoe"> <img  id="casualshoes" src="https://ae01.alicdn.com/kf/HTB156CcJpXXXXcNXFXXq6xXFXXXT/Women-Platform-Shoes-Lace-Up-Black-Creepers-Pu-Leather-Harajuku-Shoes-Cheap-Women-Falt-Shoes-Moccasins.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="/women/wshoes/womensportsshoe">   <img  id="sportsshoes" src="https://i.pinimg.com/474x/dc/1c/79/dc1c79ce03ca6579b1cf02b52593becc.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>
<br><br>
<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://cdn.shopify.com/s/files/1/0094/5517/3728/products/product-image-959274000_800x.jpg?v=1570399524" 
                 height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">Arrow Shoe</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,182</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


 
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1_ulFSpzqK1RjSZFoq6zfcXXaA/Comemore-Hot-Sale-Sport-shoes-woman-Air-cushion-Running-shoes-for-women-Outdoor-Summer-Sneakers-women.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">H & M</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,684</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0094/5517/3728/products/product-image-933285650_400x@2x.jpg?v=1570399558" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FAUSTO</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,699 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://assetscdn1.paytm.com/images/catalog/product/F/FO/FOORUHI-08-NAVYCOLU82880169D9C18E/1564617256058_11.jpg?imwidth=282&impolicy=hq
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Refoam Shoe</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,784</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://5.imimg.com/data5/XW/UN/MY-11650106/selection_073-500x500.png" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Clymb Casual</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,378</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/41dM2sNrw8L._UY395_.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FILA</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,184</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/1944/5225/products/new-arrival-2017-summer-sports-shoes-women-sneakers-network-mesh-women-running-shoes-breathable-gauze-shoes-womens-running-shoes-enso-store-as-picture-like-2-45_grande.jpg?v=1571614268
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Picktoes Casual</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,654</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.dhresource.com/0x0/f2/albu/g5/M00/00/E0/rBVaJFgkScmAPMAXAAL_z2LE9-E013.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">REEBOK</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,094</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://i.pinimg.com/736x/ab/5a/6f/ab5a6f9869d2938d8abe5d39eab3ebea.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Continental</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,976</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>