
<br><br>
<div class="container">
    <p id="popular">POPULAR FOOTWEAR</p>
</div>
<br><br>
<div class="container">
     <div class="card-deck">
     <div class="card mb-5 " style="min-width: 30%; min-height: 30%; width: 450px; height: 680px; "  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://ae01.alicdn.com/kf/HTB1QL01XcrrK1Rjy1zeq6xalFXaw/LAISUMK-Spring-New-Men-s-Shoes-Korean-Casual-Shoes-Sneakers-Men-Pu-Leather-Shoes-Breathable-Men.jpg" 
             height="430px" width="440px">
             </a>
             <p id="title">Men Sneakers</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,599  
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">4,576</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>


    </div>
    </div>

    <div class="card mb-5" style=" width: 450px; height: 680px;min-width: 30%; min-height: 30%; "  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://qph.fs.quoracdn.net/main-qimg-735aa228f33d82b68991b2119f43f204" 
             height="430px" width="440px">
             </a>
             <p id="title">Women Sports Shoe</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,499 
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,896</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>



    </div>
    </div>
    <div class="card mb-5" style=" width: 450px; height: 680px; min-width: 30%; min-height: 30%;"  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://ae01.alicdn.com/kf/HTB1LDLvbcyYBuNkSnfoq6AWgVXaO/Girls-Gladiator-Sandals-children-s-sandals-Rome-2018-summer-new-style-shoes-white-flat-with-shoes.jpg_640x640q70.jpg" 
             height="430px" width="440px">
             </a>
             <p id="title">Girls Sandals</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,399  
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,258</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>



    </div>

    </div>

    <div class="card mb-5" style=" width: 450px; height: 680px;min-width: 30%; min-height: 30%; "  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://ae01.alicdn.com/kf/HTB19zJah29TBuNjy0Fcq6zeiFXaF/2019-new-kids-sandals-girls-sandals-summer-fashion-kids-sandal-cute-butter-tie-design-princess-shoes.jpg" 
             height="430px" width="440px">
             </a>
             <p id="title">Kids Sandals</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999 
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">4,234</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>



    </div>
    </div>

    <div class="card mb-5" style=" width: 450px; height: 680px;min-width: 30%; min-height: 30%; "  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://images-na.ssl-images-amazon.com/images/I/516ulhtH7vL.jpg " 
             height="430px" width="440px">
             </a>
             <p id="title">Men Sports Shoe</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,999  
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,922</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>


    </div>
    </div>

    <div class="card mb-5" style=" width: 450px; height: 680px;min-width: 30%; min-height: 30%; "  >
        <div class="container" style="height: 100%; width: 100%; background-color: teal;">
        
        <a>    <img class="card-img-top"style=" padding-top: 15px; " id="img1" 
            src="https://cdn.shopify.com/s/files/1/2353/5781/products/champion-mens-ipo-slides-white_800x.jpg?v=1571609716" 
             height="430px" width="440px">
             </a>
             <p id="title">Men Flipflops</p>

             <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,599  
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,582</i>
        </p> 

             <p style="color: whitesmoke; text-align: left;">Size 
                <select id="size">
                    <option >6 UK</option>
                    <option >7 UK</option>
                    <option >8 UK</option>
                    <option >9 UK</option>
                    <option >10 UK</option>
                </select>
        </p>


    </div>
    </div>


    </div>
</div>