<div class="container" id="casualcards">
    <div class="card-deck">

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " src="https://static.falke.com/pdzoom/464224.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LADIES HUB</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">383</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                        
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://img5062.weyesimg.com/uploads/y99limc5.allweyes.com/images/15484866799280.jpg?imageView2/2/w/800/q/75" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">TEX HOMX</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">82</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                        
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://sc02.alicdn.com/kf/HTB18cJNanZRMeJjSspk760GpXXaV/Cool-Nice-Flag-Women-Socks-Custom-Design.png_350x350.png" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">SLIM SHINE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,876</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://syounaa.in/wp-content/uploads/2018/07/women-sports-gallery1-600x600.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">BONJOUR</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 799
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                       <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB15k0WKFXXXXXQXpXXq6xXFXXXk/Korean-Women-autumn-and-winter-socks-home-socks-non-slip-rubber-sole-thick-adult-carpet-floor.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">INFISPACE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">482</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopclues.com/images1/thumbnails/90973/320/320/140234356-90973830-1533711106.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">NIKE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,299  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">4,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1EtSxSXXXXXXoaXXXq6xXFXXXa.jpg?width=800&height=800&size=195716&hash=197316
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Rainbow</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 599  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">542</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        
                      <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://citrusox.com/wp-content/uploads/2015/04/Socks-Women-Ankle-Red-Plu01.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">INFISPORT</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">782</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://imgaz1.staticbg.com/thumb/large/oaupload/banggood/images/91/AB/2bae6d7e-ed87-4aca-b4b6-6804b13e628d.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">HEEZAL</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,199  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE </option>
                        <option >SMALL</option>
                        <option >MEDIUM</option>
                    </select>
            </p>
            </div>
        </div>
    </div>
</div>