<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://5.imimg.com/data5/IK/NB/MY-55329832/men-ankle-socks-2-500x500.jpg" 
                 height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">MARC</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,491</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://static05.jockeyindia.com/uploads/dealimages/10050/zoomimages/assorted-men-ankle-socks-7034-15.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">PUMA</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://shoedazed.com/image/cache/catalog/Nike%20&%20Athletic//Nike-Original-Breathable-Cotton-Sports-Socks-Running-Short-Socks-Men-And-Women-Nike-Socks-1-Pair-4000475330229-7139-550x550.jpeg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">NIKE</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,082</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a href="displaypage.html">     <img class="card-img-top" style=" padding-top: 15px;" src="https://heavyeditorial.files.wordpress.com/2017/12/socks12.jpg?quality=65&strip=all

                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Bonjour</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,199  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,761</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5_oidmUr9_sGdOedzpC0m3Vh-bBqLqXSrHJsz5emQtVTiMXvQ&usqp=CAU
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Reebok</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,382</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://assetscdn1.paytm.com/images/catalog/product/A/AC/ACCBALENZIA-MENJAGR34899B75B8D0D/1563517870664_1..jpg?imwidth=282&impolicy=hq
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Assets</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
             <a href="displaypage.html">    <img class="card-img-top" style=" padding-top: 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3WE9ct_r-JwtN_07NPjNDYi2HyIGUIhkKuilIuYToxVQGhRnB&usqp=CAU

                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Calvin Kelvin</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,399  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRqm8g4BaaW2tjQkRwaJrYrZodK0-gU1o1x-TiSWCAa_UwGa_ae&usqp=CAU" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Happy Socks</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/71ouLLvZmIL.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">OFF White</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 899  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">182</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            </div>
        </div>
    </div>
</div>