<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://m.media-amazon.com/images/I/81DvSw2nCHL._SR500,500_.jpg" 
               height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">RC ROYAL CLASS</p>   
            </a>
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,182</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                       
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


 
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/51lFf4vQb7L._SX679_.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">GENERIC</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">84</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://cdn.shopify.com/s/files/1/0006/7118/7062/products/5-Pairs-Pack-Baby-Boys-Girls-Socks-Bow-knot-Cotton-Socks-Striped-Sport-Ankle-Cotton-Socks_ce6f817a-da0f-4357-8409-97c09557fe06.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FOOT PRINTS</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://caravaggio.primainfanzia.it/CBB/420/988/8006529259884.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">SUPER SOX</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">484</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                       <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://sc01.alicdn.com/kf/HTB1ZtcRJVXXXXb1XXXXq6xXFXXXj.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ELK</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 399  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">78</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img5062.weyesimg.com/uploads/y99limc5.allweyes.com/images/15484738045242.jpg?imageView2/2/w/1920/q/75" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">BALENZIA</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 799  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">184</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                       <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.dhresource.com/600x600/f2/albu/g9/M00/3B/C3/rBVaVVy9wQuAQxydAAOVepDaMMk919.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">CLASTIK</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,654</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1xqd0OXXXXXcSXVXXq6xXFXXXM/-.jpg_640x640.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">BALENZIA</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 899  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,094</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.cozzoo.com/270756-home_default/2018-children-mesh-socks-anchor-star-cotton-spring-summer-boys-girls-kids-socks-for-3-12-year.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">RC SOX</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,076</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >FREE</option>
                        <option >SMALL</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>