<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="/men/shoes/mencasualshoes"> <img  id="casualshoes" src="https://previews.123rf.com/images/olgaarkhipenko/olgaarkhipenko1908/olgaarkhipenko190800071/128392949-close-up-yellow-men-s-work-boots-from-natural-nubuck-leather-on-wooden-white-background-trendy-casua.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        <div class="card"  style="height: 50%; width: 50%;"  >
             <a routerLink="/men/shoes/menformalshoes">  <img  id="formalshoes" src="https://www.dhresource.com/0x0/f2/albu/g6/M00/3C/7F/rBVaSFrYIMaALWotAAHLvRp_V_4602.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="formalshoesp">Formal Shoes</p>
               
            </a>
            </div>
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="/men/shoes/mensportsshoes">   <img  id="sportsshoes" src="https://img.looksgud.com/upload/item-image/2280/1cw0l/1cw0l-ads-orange-mesh-light-weight-comfortable-sports-shoes_300x300_0.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>
<br><br>

<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://5.imimg.com/data5/GG/QW/XG/SELLER-95611852/arrow-shoes-500x500.jpg" 
                 height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">Arrow Shoe</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
        <!-- image ending -->


 
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://shopacquire.com/wp-content/uploads/2019/01/NEW-Brand-High-quality-all-Black-Men-s-leather-casual-shoes-Fashion-Breathable-Sneakers-fashion-flats-2.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Men Leather Casual Shoe</p>
 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,499 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,684</i>
            </p> 
	 <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://5.imimg.com/data5/QC/KI/OC/SELLER-38192707/china-mens-casual-shoes-500x500.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">China Men Casual Shoe</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,699 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">964</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1PAFFKFXXXXaMXXXXq6xXFXXXM/ANK-2011-newest-fashion-casual-shoes-for-men-boat-shoes-shoes-online-store-bright-color.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Boat Shoe</p>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,799 
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,784</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>


            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://imshopping.rediff.com/imgshop/800-1280/shopping/pixs/26984/i/img_4841._buwch-men-casual-shoes.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Buwch Casual</p>
	  <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,378</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            </a>
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://imgaz.staticbg.com/images/upload/2015/05/SKU231756%20(7).jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FILA</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,184</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img.looksgud.com/upload/item-image/1218/q4hl/q4hl-aaroh-advertising-men-s-synthetic-leather-casual-boot-shoes_500x500_0.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Synthetic Casual</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 3,499  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">2,654</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://i.pinimg.com/originals/22/df/7d/22df7db8e938faa9df86a1644dce4a4d.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Timberland</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,099  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,094</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>

            
            </div>
        </div>
<div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img2.exportersindia.com/product_images/bc-full/2019/2/1852755/latest-design-mens-breathable-rubber-sole-casual-1549962884-4712830.jpeg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">Sole Play</p>
	 <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,699  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,976</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
            </p>
            
            </div>
        </div>
    </div>
</div>
