<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="womencasualshoe"> <img  id="casualshoes" src="https://ae01.alicdn.com/kf/HTB156CcJpXXXXcNXFXXq6xXFXXXT/Women-Platform-Shoes-Lace-Up-Black-Creepers-Pu-Leather-Harajuku-Shoes-Cheap-Women-Falt-Shoes-Moccasins.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoesp">Casual Shoes</p>
            </a>
            </div>
           
        
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="womensportsshoe">   <img  id="sportsshoes" src="https://i.pinimg.com/474x/dc/1c/79/dc1c79ce03ca6579b1cf02b52593becc.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoesp">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>