<ngb-carousel>
    <ng-template ngbSlide>
        <img src="https://assets.tatacliq.com/medias/sys_master/images/14102970171422.jpg"
            height="400px"width="1130px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://www.shoezone.com/Images/Static/HubContent/featured-image-women-shoe-guide.jpg"
            height="400px"width="1130px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Shoes/SIS/Fila/sneaker._V300855945_.jpg"
            height="400px"width="1130px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://c1.wallpaperflare.com/preview/562/561/218/shoes-fashion-kiev-love.jpg"
            height="400px"width="1130px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://i.huffpost.com/gen/2332082/images/o-SHOPPING-BAGS-facebook.jpg"
            height="400px"width="1130px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://c.static-nike.com/a/images/f_auto/dpr_1.0/w_1024,c_limit/pt7un74ybkikpre7jbqv/na-fashion-trends-.jpg"
            height="400px"width="1130px">
    </ng-template>
</ngb-carousel>